<h1>LOGIN</h1>
<form [formGroup]="form" (ngSubmit)="submit()">

    <div class="textfield">
        <label for="cpf"> cpf </label>
        <input type="text" name="cpf" id="cpf" placeholder="cpf" formControlName="cpf" inputmode="text" required>
    </div>

    <div *ngIf="form.get('cpf')?.errors?.['required'] && form.get('cpf')?.touched">
        cpf obrigatório
    </div>

    <div class="textfield">
        <label for="senha"> Senha </label>
        <input type="password" name="senha" id="senha" placeholder="Senha" formControlName="senha" required>
    </div>

    <div *ngIf="form.get('senha')?.errors?.['required'] && form.get('senha')?.touched">
        Senha obrigatório
    </div>
    <div>
        <a [routerLink]="['recuperar-senha']" style="color: white;">Recuperar senha</a>
    </div>

        <button class="btn-login" type="submit">login</button>
</form>

